# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
env/
ENV/
.venv/

# VSCode
.vscode/

# Logs
logs/
*.log

# Data
data/raw/
data/processed/

# Configs
configs/secrets.yaml

# OS Files
.DS_Store

# Others
Thumbs.db
